@model CarsApplication.Models.Suppliers.SupplierInputModel

@{
    ViewData["Title"] = "Add";
    string postAction = ViewData["PostAction"].ToString();
}

<h2>@postAction Supplier</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@postAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsImporter" /> @Html.DisplayNameFor(model => model.IsImporter)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@postAction" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
